<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="apple-touch-icon" sizes="180x180" href="/resources/assets/favicon/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/resources/assets/favicon/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/resources/assets/favicon/favicon-16x16.png" />
    <link rel="manifest" href="/resources/assets/favicon/site.webmanifest" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Averia+Sans+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Sora:wght@100..800&display=swap"
      rel="stylesheet"
    />

    <meta name="csrf-token" content="{{ csrfToken }}" />

    @if(description)
      <meta name="description" content="{{ description }}" />
    @end
    
    <link rel="preconnect" href="https://fonts.bunny.net" />
    <link
      href="https://fonts.bunny.net/css?family=ibm-plex-mono:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js">
      
    </script>

    <title>
      {{ title || 'Chicken Realm' }}
    </title>

    {{-- Global CSS and JS --}}
    @vite(['resources/css/app.css', 'resources/js/app.js'])

    {{-- Page-specific CSS --}}
    @if(pageStyle)
      @vite([pageStyle])
    @end
    {{-- Page-specific JS --}}
    @if(pageJS)
      @vite([pageJS])
    @end
    
    
    @stack('dumper')
  </head>
  <body class="bg-bg-main">
    @eval(await auth.use('web').check())
    {{-- @include('partials/nav') --}}
    {{-- @include('partials/flash') --}}

