.cc-window {
  font-family: 'Roundo', 'Sora', sans-serif !important;
  border-radius: 4px !important;
}

.cc-btn {
  border-radius: 4px !important;
  text-transform: none !important;
  padding: 0.5em 1.5em !important;
  min-width: 140px;
}
