/* ____________________ INTERFACE */

/* __________ GLOBAL ELEMENTS*/
.viewport-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.viewport-container.panning {
  cursor: grabbing;
}
.canvas-content {
  transform-origin: 0 0;
  width: 10000px;
  height: 10000px;
}

/* __________ STATE LABEL */
.label-construction {
  background-color: var(--bamboo-100);
}
.label-enclosed {
  background-color: var(--shrub);
}
.label-broken {
  background-color: var(--bamboo-400);
}

/* __________ TOOLBOX */
/* Tool btns */
.tool-btn svg rect,
.tool-btn svg .blob,
.tool-btn svg [id$='-bg'] {
  transition:
    fill 0.3s ease,
    opacity 0.3s ease;
}

.tool-btn:hover rect {
  fill: var(--bamboo-300);
}
.active-tool {
  /* Change blob */
  & .blob {
    fill: #fff;
    opacity: 0.5;
  }
  /* Change bg color */
  & #tree-bg {
    fill: var(--tree);
  }
  & #dustbath-bg {
    fill: var(--dustbath);
  }
  & #fence-bg {
    fill: var(--fence);
  }
  & #insectary-bg {
    fill: var(--insectary);
  }
  & #waterer-bg {
    fill: var(--waterer);
  }
  & #shrub-bg {
    fill: var(--shrub);
  }
  & #shelter-bg {
    fill: var(--shelter);
  }
  & #perch-bg {
    fill: var(--perch);
  }
  /* mini tools */
  &.mini-tool {
    background-color: var(--bamboo-400);
  }
}
/* Disabled tool buttons */
.tool-btn.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

/* __________ OBJECTIVES */
/* Global Progress bar */
.circular-progress-bar {
  position: relative;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--bamboo-100);
  display: flex;
  justify-content: center;
  align-items: center;
  /* Variable changed in JS */
  --percentage: 0;
}
.circular-progress-bar::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: conic-gradient(
    var(--lightning-500) 0% var(--percentage),
    transparent var(--percentage) 100%
  );
  z-index: 0;
}
.circular-progress-bar-inner {
  position: absolute;
  width: 70%;
  height: 70%;
  background-color: white;
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.hidden {
  display: none;
  opacity: 0;
}
.completion-text {
  font-size: 14px;
  font-weight: bold;
  color: var(--bamboo-950);
  letter-spacing: -1px;
}
.percent-symbol {
  font-size: 12px;
}

/* See all */
#see-all-btn svg {
  transition: 300ms ease;
}
#see-all-btn.expanded svg {
  transform: rotate(180deg);
}

/* Current objective icon and color */
.current-objective-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 32px;
  height: auto;
}
.objective-item[data-objective-name='perch'] .current-objective-icon {
  background-image: url(../../assets/images/plan-img/icon-perch.svg);
}
.objective-item[data-objective-name='dustbath'] .current-objective-icon {
  background-image: url(../../assets/images/plan-img/icon-dustbath.svg);
}
.objective-item[data-objective-name='area'] .current-objective-icon {
  background-image: url(../../assets/images/plan-img/icon-fence.svg);
}
.objective-item[data-objective-name='insectary'] .current-objective-icon {
  background-image: url(../../assets/images/plan-img/icon-insectary.svg);
}
.objective-item[data-objective-name='shelter'] .current-objective-icon {
  background-image: url(../../assets/images/plan-img/icon-shelter.svg);
}
.objective-item[data-objective-name='shrubs'] .current-objective-icon {
  background-image: url(../../assets/images/plan-img/icon-shrub.svg);
}
.objective-item[data-objective-name='waterer'] .current-objective-icon {
  background-image: url(../../assets/images/plan-img/icon-waterer.svg);
}
.objective-progress-bar[data-objective-name='perch'] {
  background-color: var(--perch);
}
.objective-progress-bar[data-objective-name='dustbath'] {
  background-color: var(--dustbath);
}
.objective-progress-bar[data-objective-name='area'] {
  background-color: var(--fence);
}
.objective-progress-bar[data-objective-name='insectary'] {
  background-color: var(--insectary);
}
.objective-progress-bar[data-objective-name='shelter'] {
  background-color: var(--shelter);
}
.objective-progress-bar[data-objective-name='shrubs'] {
  background-color: var(--shrub);
}
.objective-progress-bar[data-objective-name='waterer'] {
  background-color: var(--waterer);
}

/* Tooltip */
.info-icon {
  transition: transform 300ms ease;
}
.info-icon:hover,
.info-icon:focus {
  transform: scale(1.1);
  outline: none;
}
.tooltip-content {
  pointer-events: none;
  max-width: 250px;
  word-wrap: break-word;
  z-index: 50;
}
.tooltip-show {
  opacity: 1 !important;
  visibility: visible !important;
}

/* __________ SCALE */
#scale-bar {
  width: 100px;
  transition: width 0.3s ease;
}
.scale-bar-divisions {
  position: relative;
  width: 100%;
  height: 100%;
}
.scale-bar-division {
  position: absolute;
  top: 0;
  width: 1px;
  height: 8px;
  background-color: var(--bamboo-950);
}

/* CONTROLS */
.btn-sm {
  font-size: 0.875rem;
  line-height: 1;
  padding: 0.25rem 0.5rem;
  height: auto;
}
/* ____________________ END INTERFACE */

/* 
 */
/* ____________________ ELEMENTS */
.shelter,
.waterer,
.perch,
.shrub,
.insectary,
.dustbath,
.tree {
  position: absolute;
}
.shelter::before,
.waterer::before,
.perch::before,
.shrub::before,
.insectary::before,
.dustbath::before,
.tree::before {
  content: '';
  position: absolute;
  background-size: cover;
  z-index: -1;
  pointer-events: none;
  transition: filter 0.3s ease;
}
.shelter::before {
  width: 176px;
  height: 165px;
  top: -15px;
  left: -5px;
  background-image: url('../../assets/images/elements/shelter.svg');
}
.waterer::before {
  width: 65px;
  height: 65px;
  top: -5px;
  left: -5px;
  background-image: url('../../assets/images/elements/waterer.svg');
}
.perch::before {
  width: 46px;
  height: 50px;
  top: 0;
  left: 0;
  background-image: url('../../assets/images/elements/perch3.svg');
}
.shrub::before {
  width: 100px;
  height: 95px;
  top: 0;
  left: 0;
  background-image: url('../../assets/images/elements/shrub1.svg');
}
.insectary::before {
  width: 100px;
  height: 92px;
  top: -3.5px;
  left: -7.5px;
  background-image: url('../../assets/images/elements/insectary.svg');
}
.dustbath::before {
  width: 100px;
  height: 92px;
  top: -8.5px;
  left: -12.5px;
  background-image: url('../../assets/images/elements/dustbath.svg');
}
.tree::before {
  width: 200px;
  height: 200px;
  top: -75px;
  left: -75px;
  background-image: url('../../assets/images/elements/tree.svg');
}
/* ____________________ END ELEMENTS */
