@import 'tailwindcss';
@source "../views";

@layer components {
  /*  */
  /* BUTTONS */
  /*  */
  .btn {
    @apply rounded-lg px-3 py-1.5 border-2 h-10 flex self-center duration-300 cursor-pointer;
  }
  .btn-primary {
    @apply border-gray-800 text-gray-800 hover:bg-gray-800 hover:text-gray-300;
  }
  .btn-primary-reverse {
    @apply border-gray-300 text-gray-300 hover:bg-gray-300 hover:text-gray-800;
  }
  .btn-danger {
    @apply border-red-800 text-red-800 hover:bg-red-800 hover:text-gray-300;
  }
  /*  */
  /* ELEMENTS STYLING */
  /*  */
  .temporary {
    @apply opacity-40 border-dashed border-2 border-black;
  }
  .fence {
    @apply absolute h-1 bg-black transform origin-left;
  }
  .shelter {
    @apply absolute bg-gray-700;
  }
  .waterer {
    @apply absolute bg-blue-300 rounded-full;
  }
  .perch {
    @apply absolute bg-amber-900;
  }
  .shrub {
    @apply absolute bg-green-950;
  }
  .insectary {
    @apply absolute bg-yellow-700;
  }
  .dustbath {
    @apply absolute bg-gray-500;
  }
  /*  */
  /* SELECTION */
  /*  */
  .selected {
    @apply border-3 border-green-800;
  }
}

body {
  font-family: 'IBM Plex Mono', monospace;
}

.enclosure-complete {
  border: 2px solid #4caf50;
}
.snapping-to-connection {
  background-color: #4caf50 !important;
  height: 0.2rem !important; /* Slightly thicker when snapping */
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.6);
}
.placement-error {
  animation: shake 0.5s;
}

.placement-error-toast {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #e74c3c;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  z-index: 1000;
  animation:
    fadeIn 0.3s,
    fadeOut 0.3s 2.7s;
}

.invalid-placement {
  background-color: red !important;
}
.valid-placement {
  background-color: black;
}

@keyframes shake {
  0%,
  100% {
    transform: translate(-50%, -50%);
  }
  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translate(-55%, -50%);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate(-45%, -50%);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
