@import 'tailwindcss';
@source "../views";

@layer components {
  /*  */
  /* BUTTONS */
  /*  */
  .btn {
    @apply rounded-lg px-3 py-1.5 border-2 h-10 flex self-center duration-300 cursor-pointer;
  }
  .btn-primary {
    @apply border-gray-800 text-gray-800 hover:bg-gray-800 hover:text-gray-300;
  }
  .btn-primary-reverse {
    @apply border-gray-300 text-gray-300 hover:bg-gray-300 hover:text-gray-800;
  }
  .btn-danger {
    @apply border-red-800 text-red-800 hover:bg-red-800 hover:text-gray-300;
  }
  /*  */
  /* ELEMENTS STYLING */
  /*  */
  .shelter {
    @apply absolute bg-gray-700;
  }
  .waterer {
    @apply absolute bg-blue-300;
  }
  .perch {
    @apply absolute bg-amber-900;
  }
  .shrub {
    @apply absolute bg-green-950;
  }
  .insectary {
    @apply absolute bg-yellow-700;
  }
  .dustbath {
    @apply absolute bg-gray-500;
  }
}

body {
  font-family: 'IBM Plex Mono', monospace;
}

.enclosure-complete {
  border: 2px solid #4caf50;
}
.snapping-to-connection {
  background-color: #4caf50 !important;
  height: 0.2rem !important; /* Slightly thicker when snapping */
  box-shadow: 0 0 8px rgba(76, 175, 80, 0.6);
}
