<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Document
    </title>
  </head>
  <body>
    <h1>
      Hello {{user.username}}
    </h1>

    <p>
      It seems you wanted to reset your password.
    </p>
    <p>
      Please note that the link below will expire in 20 minutes.
    </p>
    <br />
    <p>
      Here is your reset password link:
    </p>
    <a href="{{ url }}">{{ url }}</a>
  </body>
</html>
