@let(title = 'Homepage')
@include('partials/header')

@if(auth.use('web').isAuthenticated)
  <span>Welcome, {{ auth.use('web').user.username }}!</span>
@else
  <span>Welcome, Guest!</span>
  <h2 class="text">
  </h2>
@end

@include('partials/footer')
